<%= stylesheet_link_tag "supervisors/course" %>
<table border="1">
  <tr>
    <td></td>
    <td>
      <%= image_tag @course.picture.url, alt: @course.name, class: "img-circle avatar-size" %>
    </td>
  </tr>
  <tr>
    <td>Name</td>
    <td><%= @course.name %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @course.status.capitalize %></td>
  </tr>
  <tr>
    <td>Duration</td>
    <td><%= @course.duration %> (<%= @course.duration_type %>)</td>
  </tr>
  <tr>
    <td>Date Start</td>
    <td><%= l @course.date_start, format: :long %></td>
  </tr>
  <tr>
    <td>Date End</td>
    <td><%= l @course.date_end, format: :long %></td>
  </tr>
</table>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
  <li><a data-toggle="tab" href="#menu1">Subjects</a></li>
  <li><a data-toggle="tab" href="#menu2">Trainees</a></li>
  <li><a data-toggle="tab" href="#menu3">Supervisors</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <%= @course.description %>
  </div>
  <div id="menu1" class="tab-pane fade">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>ten</th>
      </tr>
      </thead>
      <tbody>
      <% @course.course_subjects.each_with_index do |data, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= data.subject.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div id="menu2" class="tab-pane fade">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th><%= t "table.column.avatar" %></th>
        <th><%= t "table.column.fullname" %></th>
        <th><%= t "table.column.email" %></th>
        <th><%= t "table.column.birthday" %></th>
        <th><%= t "table.column.gender" %></th>
      </tr>
      </thead>
      <tbody>
      <% @course.course_users.each do |item| %>
        <% if item.trainee? %>
          <tr>
            <td>
              <%= image_tag item.user.avatar.url, class: "img-circle avatar-size" %>
            </td>
            <td><%= item.user.email %></td>
            <td><%= item.user.fullname %></td>
            <td><%= l item.user.birthday, format: :default %></td>
            <td class="gender-col"><i class="fa <%= display_gender item.user %>"></i></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <div id="menu3" class="tab-pane fade">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th><%= t "table.column.avatar" %></th>
        <th><%= t "table.column.fullname" %></th>
        <th><%= t "table.column.email" %></th>
        <th><%= t "table.column.birthday" %></th>
        <th><%= t "table.column.gender" %></th>
      </tr>
      </thead>
      <tbody>
      <% @course.course_users.each do |item| %>
        <% if item.supervisor? %>
          <tr>
            <td>
              <%= image_tag item.user.avatar.url, class: "img-circle avatar-size" %>
            </td>
            <td><%= item.user.email %></td>
            <td><%= item.user.fullname %></td>
            <td><%= l item.user.birthday, format: :default %></td>
            <td class="gender-col"><i class="fa <%= display_gender item.user %>"></i></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

