<tr>
  <th scope="row"><%= user.id %></th>
  <td>
    <%= link_to user.fullname, "#", data:
    { toggle: "modal", target: "#myModal#{user.id}"} %>
  </td>
  <td><%= user.email %></td>
  <td>
    <% if user.supervisor? %>
    <span class="label label-danger"><%= t "user.role.#{user.role}" %></span>
    <% else %>
    <span class="label label-default"><%= t "user.role.#{user.role}" %></span>
    <% end %>
  </td>
</tr>
<div class="modal fade" id="myModal<%= user.id%>" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel-<%= user.id%>"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel"><%= t "page.profile" %></h4>
      </div>
      <div class="modal-body">
        <center>
          <%= link_to image_tag(user.avatar.url, class: "img-circle avatar-size")%>
          <h3 class="media-heading"><%= user.fullname %>
            <small><%= t"user.role.#{user.role}" %></small></h3>
          </center>
          <center>
            <h3><%= t "user.trainee.info" %></h3>
            <span>
              <p><%= t "helpers.label.user.gender" %>: <%= t "user.gender.#{user.gender}" %></p>
            </span>
            <span>
              <p>
                <%= t "helpers.label.user.birthday" %>:
                <%= l(user.birthday, format: :short) %>
              </p>
            </span>
          </center>
        </div>
        <div class="modal-footer">
          <center>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <%= t "page.close" %>
            </button>
          </center>
        </div>
      </div>
    </div>
  </div>
