<% provide(:title, t("page.user_page")) %>
<div class="row">
  <h2><%= current_user.fullname %></h2>
  <div class="col-md-6">
    <table class="table table-striped">
      <h3><%= t "user.trainee.list_course" %></h3>
      <thead>
        <tr>
          <th><%= t "table.column.order" %></th>
          <th><%= t "table.course_name" %></th>
          <th><%= t "table.duration" %></th>
          <th><%= t "table.status" %></th>
          <th><%= t "table.date_start" %></th>
          <th><%= t "table.date_end" %></th>
        </tr>
      </thead>
      <tbody>
        <% current_user.course_users.each do |val| %>
        <tr>
          <th scope="row">
            <%= link_to course_user_path(val) do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </th>
          <td><%= val.name %></td>
          <td><%= val.duration %> <%= t "course.duration_type.#{val.duration_type}" %></td>
          <td>
              <%= render "layouts/status_course", course: val.course %>
          </td>
          <td><%= l(val.date_start, format: :long) %></td>
          <td><%= l(val.date_end, format: :long) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
     <h3><%= t "user.trainee.list_mem" %></h3>
     <thead>
      <tr>
       <th><%= t "table.column.order" %></th>
       <th><%= t "table.column.fullname" %></th>
       <th><%= t "table.column.email" %></th>
       <th><%= t "table.column.role" %></th>
     </tr>
   </thead>
   <tbody>
    <%= render partial: "homes/user", collection: @users %>
  </tbody>
</table>
<%= will_paginate @users %>
</div>
</div>
