<% provide(:title, t("page.user_page")) %>
<div class="row">
  <h2><%= current_user.fullname %></h2>
  <div class="col-md-6">
    <table class="table table-striped">
      <h3><%= t "user.trainee.list_course" %></h3>
      <thead>
        <tr>
          <th><%= t "table.column.order" %></th>
          <th><%= t "table.course_name" %></th>
          <th><%= t "table.duration" %></th>
          <th><%= t "table.status" %></th>
          <th><%= t "table.date_start" %></th>
          <th><%= t "table.date_end" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1<a href="" title="View details">
            <i class="fa fa-eye"></i></a>
          </th>
          <td>Ruby on Rails</td>
          <td>20 days</td>
          <td><span class="label label-success">
            <%= t"user.status.active" %>
          </span></td>
          <td>03/07/2019</td>
          <td><i class="fa fa-spinner"></i></td>
        </tr>
        <tr>
          <th scope="row">2<a href="" title="View details">
            <i class="fa fa-eye"></i>
          </a></th>
          <td>Laravel</td>
          <td>20 days</td>
          <td><span class="label label-info">
            <%= t"user.status.active" %>
          </span></td>
          <td>23/06/2019</td>
          <td>03/07/2019</td>
        </tr>
        <tr>
          <th scope="row">3 <a href="" title="View details">
            <i class="fa fa-eye"></i>
          </a></th>
          <td>Frond end</td>
          <td>20 Days</td>
          <td><span class="label label-warning">
            <%= t"user.status.active" %></span></td>
            <td>23/06/2019</td>
            <td>03/07/2019</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
       <h3><%= t "user.trainee.list_mem" %></h3>
       <thead>
        <tr>
         <th><%= t "table.column.order" %></th>
         <th><%= t "table.column.fullname" %></th>
         <th><%= t "table.column.email" %></th>
         <th><%= t "table.column.role" %></th>
       </tr>
     </thead>
     <tbody>
      <%= render partial: "homes/user", collection: @users %>
    </tbody>
  </table>
  <%= will_paginate @users %>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close"
      data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title" id="myModalLabel">Profile</h4>
    </div>
    <div class="modal-body">
      <center>
        <%= image_tag current_user.avatar.url,
          class: "img-circle profile_image" %>
        <h3 class="media-heading"><%= current_user.fullname %>
          <small><%= t "user.role.#{current_user.role}" %></small></h3>
        </center>
        <span><strong>Course is participating: </strong></span>
        <span class="label label-warning">Ruby on Rails</span><br>
        <span><strong>Subject is participating: </strong></span>
        <span class="label label-info">GIT</span>
        <hr>
        <center>
          <p class="text-left"><strong>Task: </strong><br>
            Tutorial: <span class="label label-success">Finish</span><br>
            Test: <span class="label label-warning">Ready</span>
          </p>
          <br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close</button>
        </center>
      </div>
    </div>
  </div>
</div>
