<div class="container">
    <div class="col-md-6 offset-3">
        <%= form_for(@report) do |f| %>
            <%= render "layouts/shared/error_message", object: f.object %>
            <div class="col-md-12">
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, class: "form-control" %>
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="form-group">
                    <%= f.label :content %>
                    <%= f.text_area :content, class: "form-control" %>
                </div>
            </div>
            <div class="col-md-12">
                <%= f.submit "Report",class: "form-control btn btn-success" %>
            </div>
        <% end %>
    </div>
</div>
